[submodule "ParlinfoSpeechScraper/PSSSourceXML"]
	path = src/PSSSourceXML
	url = git@github.com:Australian-Parliamentary-Speech/PSSSourceXML.git
[submodule "ParlinfoSpeechScraper/PSSSourceSGML"]
	path = src/PSSSourceSGML
	url = git@github.com:Australian-Parliamentary-Speech/PSSSourceSGML.git
[submodule "ParlinfoSpeechScraper/PSSConvert"]
	path = src/PSSConvert
	url = git@github.com:Australian-Parliamentary-Speech/PSSConvert.git
[submodule "ParlinfoSpeechScraper/PSSUtils"]
	path = src/PSSUtils
	url = git@github.com:Australian-Parliamentary-Speech/PSSUtils.git
