[submodule "ParlinfoSpeechScraper/PSSSourceXML"]
	path = src/PSSSourceXML
	url = git@github.com:Australian-Parliamentary-Speech/Download.git
[submodule "ParlinfoSpeechScraper/PSSSourceSGML"]
	path = src/PSSSourceSGML
	url = git@github.com:Australian-Parliamentary-Speech/sgml2xml.git
[submodule "ParlinfoSpeechScraper/PSSConvert"]
	path = src/PSSConvert
	url = git@github.com:Australian-Parliamentary-Speech/Scraper.git
[submodule "ParlinfoSpeechScraper/PSSUtils"]
	path = src/PSSUtils
	url = git@github.com:Australian-Parliamentary-Speech/PSSUtils.git
